<div class="container">
        <div class="wrapper">
          <div class="title">
              <span>Edit Message</span>
            </div>
            <form name="editMessageForm" (ngSubmit)="applyEdit($event)" #editMessageForm="ngForm">
                <div class="field">
                 <p class="text-center"> <small>You can add variables inside your message.</small><br>
                  <small>Es. If you apply to a job advertised by <strong>Loren Smith</strong></small><br>
                   <small><strong> Hi #[First_Name]</strong> will be translate to <strong>Hi Loren</strong>
                   </small></p>
                   <hr>
                   <div class="flex-center">
                    <mat-chip-list class="centered">
                        <mat-chip (click)="addVariable('FN')">First Name</mat-chip>
                        <mat-chip (click)="addVariable('LN')">Last Name</mat-chip>
                        <mat-chip (click)="addVariable('PS')">Position</mat-chip>
                        <mat-chip (click)="addVariable('CO')">Company</mat-chip>
                      </mat-chip-list>
                      </div>
                              <mat-form-field class="">
                                      <textarea [(ngModel)]="message" id="message" name="message" matInput type="text" placeholder="Message"></textarea>
                                  </mat-form-field>
                                  
                                   <div class="flex">
                                        <button mat-raised-button type="submit" color="primary">Save</button>
                                        <button mat-raised-button type="button" (click)="resetValue()">Reset</button>

                              </div> 
                </div>
         
            </form>
               
        </div>
      </div>