<section>
    <div class="aligner">
        <h1 class="title">Create your Chips Account</h1>
      <form class="example-form" (ngSubmit)="onSubmit()" #usrForm="ngForm">
          <mat-form-field class="example-full-width"  >
            <input matInput ngModel id="username" name="username" type="text" placeholder="Username">
          </mat-form-field>
         
          <mat-form-field class="example-full-width" >
              <input matInput ngModel  id="email" type="email" name="email" placeholder="Email">
          </mat-form-field>

          <mat-form-field class="example-full-width" >
              <input matInput ngModel  id="password" type="password" name="password" minlength="8" placeholder="Password">
          </mat-form-field>

          <mat-form-field class="example-full-width" >
              <input matInput ngModel  id="confirmPassword" type="password" minlength="8" name="confirmPassword" placeholder="Confirm Password">
          </mat-form-field>
          <div *ngIf="usrForm.value.password !== usrForm.value.confirmPassword && usrForm.value.confirmPassword.length > 0">Passwords do not match</div>
          <div *ngIf="usrForm.value.password.length < 8 && usrForm.value.password.length > 0">Passwords must be at least 8 characters</div>

          <button mat-raised-button	[disabled]="(usrForm.value.password !== usrForm.value.confirmPassword) || usrForm.invalid">Sign Up</button>
          <h3 class="signUp">Got an account? <a routerLinkActive="active" routerLink="/">Sign In</a></h3>
        </form>
        <div class="alert" *ngIf="didFail">
            Ops.. Something went wrong
        </div>
        <!-- <div class="loader" *ngIf="isLoading">
            Loading...
          </div> -->
</div>

</section>
      