.container-flex{
    display: grid;
    grid-template-columns: 1fr 2fr;
}
.container-full{
    position: absolute;
    left: 29.1%;
    top:150px; 
    width: 100%;
}

@media screen and (max-width: 1025px){
    conversation-container, chat-container{
        display: none;
    }
    .container-flex{
        width: 100%;
        overflow-x: hidden;
        grid-template-columns: 1fr;

    }
.show{
    display: block;
}
.hide{
    display: none;
}
.action_bar{
       
    display: flex;
    padding: 2px;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    bottom: 0px;
    height: 40px;
    width: 100%;
    border-top: 1px solid rgba(38, 41, 58, 0.4);
    background: white;
    font-size: 1.2rem;
 
    
}
}
