section{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: rgb(244, 248, 249)

}
.aligner{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 45%;
    background-color: white;
    border-radius: 8px;
    -webkit-box-shadow: -1px 2px 14px 2px rgba(189,189,189,0.36);
    -moz-box-shadow: -1px 2px 14px 2px rgba(189,189,189,0.36);
    box-shadow: -1px 2px 14px 2px rgba(189,189,189,0.36);
}

.mat-raised-button{
    background-color: azure;
    margin-top:30px;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

  form{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }


  .title{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
    font-size: 2em;
    font-weight: lighter;
    color:white;
    background-color:purple;
    text-align: center;
    margin-top: 0px;
    width: 100%;
    height: 70px;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}
  .signUp{
    font-family: 'Open Sans', sans-serif;
    font-size: 0.8em;
    font-weight: lighter;
    text-align: center;
  }
  .alert{
    width: 100%;
    font-size:0.7rem;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background:red; 
    color:white;
    padding: 5px 0px 5px 0px;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 1254px) {
    .title{
        font-size: 1.2em;

      }
    .aligner{
        width: 80%!important;
    }
    .example-full-width {
        width: 85%;
        font-size: 0.8em;
      }

}

