<section>
        <div class="loader" *ngIf="isLoading$ | async">
                <mat-progress-spinner color="accent" mode="indeterminate"></mat-progress-spinner>
                </div>

 <!-- <button mat-raised-button (click)="filter()">filter</button> -->
<div class="jobs_map_grid" *ngIf="!(isLoading$ | async)">
    <div class="wrapper job_cards_grid2" [ngClass]="{'hide': showFilter || details|| showMap}" >
         
        <job_card 
            *ngFor="let job of (activeJobs$ | async); let i=index"        
            [job]="job"
            [jobsApplied]="hero.JobApplIds"
            (apply)="handleApply($event)"
            (share)="handleShare($event)"
            (details)="showDetails($event)"
            (mouseover)="selected(i)"
            (mouseout)="deselected(i)">   
        </job_card>

    

    </div>
 

    <div>
        <div class="jobs-actionbar hide">
            
            <button class="toggle-map-btn" mat-raised-button (click)="toggleFilter()">
                    <span *ngIf="showFilter">Hide Filter</span>
                    <span *ngIf="!showFilter">Show Filter</span>
            </button>
            <button class="toggle-map-btn" mat-raised-button (click)="toggleMap()">
                <span *ngIf="showMap">Hide Map</span>
                <span *ngIf="!showMap">Show Map</span>
            </button>

        </div>
        <div class="big-card" *ngIf="details">
                <job 
                [job]="details"
                (close)="handleClose()"        
                ></job>
        </div>
        <div class="big-card" *ngIf="showFilter">
              <app-filter [filter]="filter$|async" (apply)="applyFilter($event)"></app-filter>
        </div>
        <jobs_map class="map show" *ngIf="showMap" 
            [activejobs]="(activeJobs$ | async)"
            [opacity]="opacity"
            (highlight)=selected($event)>
        </jobs_map>
    </div>
</div>


</section>
<div class="pagination">
    <app-pagination
    *ngIf="!(isLoading$ |async)"
     [ngClass]="{'hide':showFilter}"
     [activePage]="activePage$ | async" 
     [totalPages]="totalPages$ | async"
     [howManyJobs]="howManyJobs$ | async"
     (changePage)="changePage($event)"></app-pagination>
</div>
<div *ngIf="!showFilter" class="action_bar">
        <i class="fas fa-map-marker-alt"  (click)="toggleMap()"></i>
        <i class="fas fa-filter" (click)="toggleFilter()"></i>
</div>