.activePage{
    font-size:1.2rem;
    margin: 0 2px 0 15px;
    font-weight: bold;

}
.totalPages{
    font-size:1.2rem;
    margin: 0 15px 0 2px;
}
.fas{
    font-size: 1.3rem;
}
.totalJobs{
    font-size: 0.9rem;
    margin-top: 12px;
}