<div class="container">
        <div class="wrapper">
          <div class="title">
              <span>Edit Resume</span>
            </div>
            <form name="editCVForm"  #editImagesForm="ngForm">
                <div class="field">
                <h4 class="text-center">Resume</h4>
                <div class="error" *ngIf="errorMsg">
                        <span>{{errorMsg}}</span>  
                </div>
                <div class="flex">
                        <pdf-viewer
                                (click)="fileInput.click()"
                                [src]="url" 
                                [render-text]="true"
                                style="display: block;"
                                [original-size]="true"
                                [show-all]="false"
                                [fit-to-page]="true"
                    ></pdf-viewer>
                </div>
                <div class="flex">
                        <input
                        style="display: none"
                        type="file" (change)="onFileChanged($event)"
                        accept="application/pdf"
                        #fileInput>
                        <button mat-raised-button color="primary" (click)="fileInput.click()">UPLOAD</button>

                </div>                        
                        <hr>
                                   <div class="flex">
                                        <button mat-raised-button type="button" (click)="applyEdit($event)" color="primary">Save</button>
                                        <button mat-raised-button type="reset" (click)="resetValue()">Clear</button>

                              </div> 
                </div>
         
            </form>
               
        </div>
      </div>