
<div class="container">
    <div class="images" [ngStyle]="{'background-image':' url(' + coverPic + ')'}">
            <img class="profile_pic" [src]="profilePic">
            <!-- <h3>Jessica Pip</h3> -->
        </div>
    <div class="name">
        <h2>{{firstName}} {{lastName}}</h2>
    </div>
    <div class="intrest">
            <mat-chip-list>
                    <mat-chip *ngFor="let intest of intrests" color="accent" selected >{{intest}}</mat-chip>
                  </mat-chip-list>
    </div>
    <div class="bio">    
        <p>
            {{bio}}
        </p>
    </div>
    <div class="buttons">
            <button><i class="fas fa-envelope"></i></button>
            <button><i class="far fa-file-alt"></i></button>
    </div>
</div>