<div class="profile_map_grid">
        <div><profileUI></profileUI></div>
        <div class="jobs-actionbar hide">
                        <button class="toggle-map-btn" mat-raised-button >
                           <span >Edit Info</span>
                        </button>
                        <button class="toggle-map-btn" mat-raised-button >
                            <span >Edit Pictures</span>
                        </button>
                        <button class="toggle-map-btn" mat-raised-button >
                            <span >Edit CV</span>
                        </button>
                        <button class="toggle-map-btn" mat-raised-button >
                            <span >Edit Message</span>
                         </button>
            
                    </div>
        
        
</div>
