<div class="profile_map_grid">
        <div>
         <profileUI 
         [coverPic]="coverPic"
         [profilePic]="profilePic"
         [firstName]="firstName"
         [lastName]="lastName"
         [intrests]="intrests"
         [bio]="bio">
        </profileUI>
        </div>
        
        
        <div>
                    <div class="jobs-actionbar hide">
                        <button class="toggle-map-btn" mat-raised-button (click)="toggleInfo()" >
                           <span >Edit Info</span>
                        </button>
                        <button class="toggle-map-btn" mat-raised-button >
                            <span >Edit Pictures</span>
                        </button>
                        <button class="toggle-map-btn" mat-raised-button >
                            <span >Edit CV</span>
                        </button>
                        <button class="toggle-map-btn" mat-raised-button (click)="toggleMessage()" >
                            <span >Edit Message</span>
                         </button>
            
                    </div>
                    <div class="big-card" *ngIf="editInfo">
                            <editInfo 
                            [firstName]="firstName"
                            [lastName]="lastName"
                            [bio]="bio"
                            [intrests]="intrests"
                            (mod)="changeInfo($event)"
                            ></editInfo>  
                    </div>
                    <div class="big-card" *ngIf="editMessage">
                            <editMessage 
                            [message]="message"
                     
                            ></editMessage>  
                    </div>
        </div>
        
</div>
