
<div class="container">
  
    <div class="job_wrapper">
            <!-- <div class="picture">
                <img [src]="job.Pic"/>
            </div> -->
            <div class="close">
                <i (click)="handleClose()" class="far fa-times-circle"></i>
            </div>  
            <div>
                <div class="business_info">
                        <span class="title">{{job.Business}}</span><br>
                        <span class="address">{{job.Address}}</span>
                </div>
                <div class="job_info">
                    <div *ngIf="job.IsTemp" class="record"><span class="label">Type</span> <span class="value">Cover shift</span></div>
                    <div *ngIf="!job.IsTemp" class="record"><span class="label">Type</span> <span class="value">Permanent job</span></div>
                    <div *ngIf="job.IsTemp" class="record"><span class="label">Position</span> <span class="value">{{job.Position}}</span></div>
                    <div *ngIf="job.IsTemp" class="record"><span class="label">Pay</span><span class="value">{{job.PayPerHour}}£/hour</span></div>
                    <div *ngIf="!job.IsTemp" class="record"><span class="label">Pay</span><span class="value">{{job.Pay}}</span></div>
                    <div *ngIf="job.IsTemp" class="record"><span class="label">Date</span> <span class="value">{{job.Date | date: 'dd/MM/yyyy'}}</span></div>
                    <div *ngIf="job.IsTemp" class="record"><span class="label">Time</span> <span class="value">{{job.ShiftStartAt}}-{{job.ShiftEndAt}}</span></div>
                    <div *ngIf="!job.IsTemp" class="record"><span class="label">Hours</span> <span class="value">{{job.Hours}} h/w</span></div>
               
                    
                </div>
              
            </div>
        
        <div class="job_description" *ngIf="job.Description">
            <h2 class="description-title">Description</h2>
             <p class="description">{{job.Description}}</p>

       </div>
       <div class="apply">
            <button mat-raised-button type="submit" (click)="applyJob()">Apply now</button>
        </div>  
       <div class="map">
            <agm-map  
            [latitude]="job.Lat" 
            [longitude]="job.Lng" 
            [fitBounds]="true" 
            [zoom]="15" >
                <agm-marker  
                [latitude]="job.Lat" 
                [longitude]="job.Lng"
                [title]="job.Business"   
                >
                </agm-marker>
            </agm-map>
            
    </div>      
           
    </div>
    </div>

    
    