.job_card{
    background: white;
    width: 100%;
    border: 1px solid rgba(38, 41, 58, 0.1);
    border-radius:8px;
    font-family: 'Open Sans', sans-serif;
    margin: 0 auto;
    margin-bottom:10px; 
    box-shadow: 0 6px 3px 0 rgba(74,74,74,.06);
    cursor: pointer

   
}
/* .job_card:hover{
    border: 1px solid #B400AE;
    
} */
/* .job_card:hover .title{
    color: #B400AE;
    
} */
.point{
    /* font-size: 0.8rem; */
}
.title{
    display: flex;
    justify-content: space-between;
    font-size: 1.1rem;
    color:#4A4A4A;
    font-weight: bolder;
}
.date{
    font-size: 0.6rem
}
.description{
    font-weight: bold;
    color:#2d2d2d;
    font-size: 1rem;
}

.card_content{
   padding: 10px;
}

.job_info{
    font-weight: lighter;
}
.violet{
    color:#B400AE;
}
.blue{
    color:#4A4A4A;
}
.card_footer{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}
.action_bar{

}
.action_bar img{
    width: 20px;
    cursor: pointer;
    padding-left:20px; 
    
   }

   @media screen and (min-width: 1024px){
       .job_card{
         margin-bottom:0px; 

           width: 400px;
       }

   }

   